.recipe-card-container{
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  
  display: grid;
  justify-content: center;
  
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  
  &__link{
    text-decoration: none;
  }
}

.loadingContainer {
  margin-top: 30px;
  
  mat-spinner {
    margin-left: auto;
    margin-right: auto;
  }
}
