<div class="loadingContainer" *ngIf="isLoading">
  <mat-spinner ></mat-spinner>
</div>

<div class="noRecipesMessage" *ngIf="!isLoading && numberOfResponses === 0">
  Sorry, no recipes matched your search. Please try another.
</div>


<div class="recipe-card-container" *ngIf="!isLoading && numberOfResponses > 0">
    <app-recipe-card 
      *ngFor="let recipe of recipes$"
      title="{{ recipe.title }}" 
      image_url="{{ recipe.image_url }}" 
      recipe_id="{{ recipe.recipe_id }}" 
      social_rank=" {{ recipe.social_rank }} "
      publisher="{{ recipe.publisher }}" 
      publisher_url="{{ recipe.publisher_url }}"
      source_url="{{ recipe.source_url }}"
    >
    </app-recipe-card>

</div>