<div class="recipe-card-container">

  <a routerLink="/recipe" *ngFor="let recipe of recipes$">
    <mat-card >
      <img mat-card-image src="{{ recipe.image }}">
      <mat-card-content>
        <mat-card-title>{{ recipe.label }}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p> -->
      </mat-card-content>
    </mat-card>
  </a>
</div>
