.publisher-container{
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  img{
    border-radius: 100%;
  }

  mat-card-subtitle{
    margin-bottom: 0;
    margin-left: 5px;

    font-style: italic;
    font-size: 12px;

    opacity: .65;

    &:hover{
      opacity: 1;
    }
  }
}