<div class="recipe-page" *ngIf="recipe$">

  <div class="recipe-page__image-container">
    <img [src]="getImgSrc()" alt="{{ recipe$.title }}">
  </div>

  <div class="recipe-page__content">
    
    <h3 class="recipe-page__title">
      {{ recipe$.title }}
    </h3>
    <app-publisher-container
      publisher = "{{ recipe$.publisher }}"
      publisher_url = "{{ recipe$.publisher_url }}"
      source_url = "{{ recipe$.source_url }}"
      image_size = "{{ 32 }}"
    ></app-publisher-container>

    <h5 class="recipe-page__sub-title">
      Ingredients
    </h5>

    <mat-list>
      <mat-list-item *ngFor="let ingr of recipe$.ingredients"> {{ingr}}</mat-list-item>
    </mat-list>

  </div>

</div>