.recipe-page{

  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: auto;

  &__image-container{
    height: 100%;
    width: 80%;
    display: flex;

    img{
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  &__sub-title {
    margin-bottom: 5px;
  }

  &__content {
    width: 100%;
    padding: 0 20px;
  }

  mat-list-item {
    height: 36px;
  }

}