<nav>
  <a mat-button color="primary" routerLink="/">
    ReciPlanner
  </a>

  <ul>
    <!-- <li>
      <a mat-button color="primary" routerLink="/my-reciplans"  routerLinkActive="router-link-active">
        My Reciplans
      </a>
    </li> -->

    <li>
      <a mat-button color="primary" routerLink="/sign-in"  routerLinkActive="router-link-active">
        Sign in
      </a>
    </li>

    <li>
      <a mat-raised-button color="accent" routerLink="/join">
        Join today
      </a>
    </li>
  </ul>
</nav>
