<div class="wrapper">

  <app-page-header [isThin]="true" >
    <form [formGroup]='filterBar' class="filter-form" >
        <mat-form-field class="white-form-field">
          <input 
            formControlName="filter" 
            matInput 
            placeholder="Filter names" 
            name="filter" 
            (keyup)="handleFilterChange()"
          >
        </mat-form-field>
    </form>
  </app-page-header>


  <app-recipe-card-container 
    [recipes$]="recipes$ | filterByString : filterByString" 
    [isLoading]="false"
  ></app-recipe-card-container>

</div>