<mat-card (click)="openDialog()" >

  <!-- TODO: Add Recipe Card popup -->
  <div class="card-image" [ngStyle]="getBackgroundImage()"></div>

  <mat-card-content>
    <!-- <a class="recipe-card__title-link" routerLink="/recipe/{{ recipe_id }}"> -->
      <mat-card-title>{{ title }}</mat-card-title>
    <!-- </a> -->

    <div class="recipe-card__sub-content">
      <div class="recipe-card__ranking">
        <mat-progress-bar value=" {{ social_rank }} " ></mat-progress-bar>
        <span>
          {{ social_rank }}
        </span>
      </div>
  
      <app-publisher-container
        publisher = "{{ publisher }}"
        publisher_url = "{{ publisher_url }}"
        source_url = "{{ source_url }}"
      ></app-publisher-container>
    </div>

  </mat-card-content>
</mat-card>