<mat-card>

  <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="blur">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10,10"></feGaussianBlur>
      </filter>
    </defs>
  </svg> -->

  <a class="recipe-card__link" routerLink="/recipe/{{ recipe_id }}">
    <div class="recipe-card__image" [ngStyle]="getBackgroundImage()"></div>
  </a>

  <mat-card-content>
    <a class="recipe-card__title-link" routerLink="/recipe/{{ recipe_id }}">
      <mat-card-title>{{ getTitleText() | htmlCharacters }}</mat-card-title>
    </a>

    <div class="recipe-card__sub-content">
      <!-- TODO: Setup redux -->
      <!-- TODO: Once redux has been setup, add rating support for a recipe, by clicking on a star -->
      <!-- TODO: Add testing to the ranking module, once redux has been setup -->

      <star-rating 
        [starType]="'svg'" 
        [labelText]="social_rank" 
        labelPosition="right"
        [showHalfStars]="true"
        [getHalfStarVisible]="getHalfStarVisible"
        [hoverEnabled]="true"
        staticColor="positive"
        [rating]="(social_rank+5)/20"
        (starClickChange)="handleStarClickChange($event)"
        (hoverRatingChange)="handleStarHoverChange($event)"
      >
      </star-rating>
  
      <app-publisher-container
        publisher = "{{ publisher }}"
        publisher_url = "{{ publisher_url }}"
        source_url = "{{ source_url }}"
        image_size = 30
      ></app-publisher-container>
    </div>

  </mat-card-content>
</mat-card>