<div class="header">
    
  <div class="header-content">
    
      <div class="search-area  {{ searchAreaClasses }}">
        <form [formGroup]="searchBar" class="search-area__form" (ngSubmit)="handleSubmit()" >
            <mat-form-field class="white-form-field text-center">
              <input formControlName="query" matInput placeholder="What's for dinner?" name="search-text" id="search-text">
            </mat-form-field>
          <button mat-button type="submit">
            <span class="search-area__button-text">
              Search
            </span>
          </button>
        </form>
      </div>
    
  </div>
</div>