<app-page-header>
  <div class="search-area">
    <form [formGroup]='searchBar' class="search-area__form" (ngSubmit)="handleSubmit()" >
        <mat-form-field class="white-form-field">
          <input formControlName="query" matInput placeholder="What's for dinner?" name="search-text" id="search-text">
        </mat-form-field>
      <button mat-button type="submit">
        <span class="search-area__button-text">
          Search
        </span>
      </button>
    </form>
  </div>
</app-page-header>