.suggestions {
  display: flex;
  margin: 30px auto;
  max-width: 1200px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 90px;

    cursor: pointer;
    opacity: .65;
    transition: opacity .2s;

    &--selected {
      .suggestions__image {
        // TODO: Add correct theme color
        border: 3px solid green;
      }

      .suggestions__title {
        color: green;
      }
    }


    &:hover,
    &--selected {
      opacity: 1;
    }
  }
  
  &__image {
    background-image: url("http://static.food2fork.com/Jalapeno2BPopper2BGrilled2BCheese2BSandwich2B12B500fd186186.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
    border-radius: 50%;
    
    height: 60px;
    width: 60px;
  }

  &__title {
    margin-top: 8px;
    font-weight: 500;
  }
}