<div class="main-page">

  <app-front-page-header [query]="query"></app-front-page-header>

  <!-- #TODO: Suggestion panel -->
  <app-query-suggestions [query]="query" ></app-query-suggestions>

  <app-recipe-card-container
    [recipes$]="recipes$"
    [isLoading]="isLoading"
    [numberOfResponses]="numberOfResponses"
  ></app-recipe-card-container>

  <app-paginator
    [query]="query"
    [pageNumber]="pageNumber"
    [numberOfResponses]="numberOfResponses"
    [isLoading]="isLoading"
  ></app-paginator>

</div>