<div class="main-page">

  <app-front-page-header [query]="query"></app-front-page-header>

  <div class="pageContentWrapper">
    <app-query-suggestions [query]="query" ></app-query-suggestions>
  
    <app-recipe-card-container
      [recipes$]="recipes$"
      [isLoading]="isLoading"
    ></app-recipe-card-container>
  
    <app-paginator
      [query]="query"
      [pageNumber]="pageNumber"
      [showNextPage]="numberOfResponses >= 30"
      *ngIf="!isLoading"
    ></app-paginator>
  </div>

</div>
